*,
*:before,
*:after { @include box-sizing(border-box); }

html {
    height: 100%;
    font-family: $base__font--family;
    color: $base__font--color;
    font-size: $base__font--size;
    font-weight: $base__font--weight;
    font-style: $base__font--style;
    line-height: 1;
}

body {
    height: 100%;
    @include background-image(linear-gradient(#fff 0, #eee 100%));

    @include breakpoint(small) {
        padding: 40px 40px 40px 50px;
    }

    &:after {
        content: '';
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        width: 10px;
        width: 1rem;
        background-color: $color__brand--primary;
    }
}

a {
    color: $color__brand--primary;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

p {
    font-size: 16px;
    font-size: 1.6rem;
    line-height: 1.45;
}