*,
*:before,
*:after {
    box-sizing: border-box;
}

html {
    height: 100%;
    font-family: "Noto Serif", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
    line-height: 1.6;
    color: #222;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

img {
    max-width: 100%;
}

a {
    color: #000;
}

p {
    margin-top: 0;
    margin-bottom: 1.25rem;
}

main {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    padding: 2rem 2.5rem;
}

.content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-pic {
    display: inline-block;
    flex-shrink: 0;
    height: 13rem;
    width: 13rem;
    margin-bottom: 2.5rem;
    padding: 0.25rem;
    border: 2px dotted #f16b6c;
    border-radius: 50%;
}

.profile-pic img {
    border-radius: 50%;
}

.intro {
    font-size: 1.5rem;
}

.contact {
    font-size: 1.125rem;
}

@media (min-width: 48rem) {
    .content-container {
        flex-direction: row;
        align-items: unset;
    }

    .profile-pic {
        margin-right: 3rem;
        margin-bottom: 0;
    }

    .intro  {
        padding-top: 5rem;
        max-width: 42rem;
    }
}