:not(pre)>code[class*="language-"],
pre[class*="language-"] {
    border: 1px solid #ccc;
    background-color: #eee;
}

:not(pre)>code[class*="language-"] {
    padding: 0.1em 0.3em 0.2em 0.3em;
    border: 1px solid #ccc;
    border-radius: 4px;
}