.post-list {
    margin: 0;
    padding: 0;
    list-style: none;

    li {
        margin-top: 2rem;
        padding-top: 2rem;
        border-top: 1px dashed #ccc;

        &:first-child { margin-top: 0; }

        &:last-child {
            padding-top: 3rem;
        }
    }
}

.post-list__title {
    margin-bottom: 0;
}

.post-list__meta {
    margin: 0;
    font-size: 1.4rem;
    color: #999;
}

.post-list--compact {
    li {
        margin-top: 1rem;
        padding-top: 1rem;

        &:last-child {
            padding-top: 2rem;
        }
    }
}