//////////////////////////////////////////////////
//
// Presets
//
//////////////////////////////////////////////////

*,
*:before,
*:after {
    box-sizing: border-box;
}

html {
    font-family: $base-font--family;
    color: $base-font--color;
    font-size: $base-font--size;
    font-weight: $base-font--weight;
    font-style: $base-font--style;
    line-height: $line-height;
}

html,
body { height: 100%; }

body { overflow-x: hidden; }

img { max-width: 100%; }

a {
    color: $brand-color--action;
    font-weight: 700;
    text-decoration: none;

    &:hover { text-decoration: underline; }
}


.site-wrap {
    max-width: $site--width;
    padding: $gutter--small;
}

.footer-push {
    @extend %clearfix;
    min-height: calc(100% - #{$footer--height});
}

.section-wrap {
    position: relative;
}

.section-content {
    //padding: $gutter--small;
    //padding-right: $gutter--large;
    //padding-left: $gutter--large;
}


.section--main-content {
    @include mq($screen--medium) {
        float: right;
        width: $content--width;
    }
}
