.recent-posts {

    ol {
        padding-left: 0;
        list-style: none;

        li {
            margin: 0.62em 0;
        }
    }

    @include mq($screen--medium) {
        float: left;
        clear: left;
        width: $sidebar--width;
    }
}