//////////////////////////////////////////////////
//
// Functions
//
//////////////////////////////////////////////////

@function map-deep-get($map, $keys...) {
    @each $key in $keys {
        $map: map-get($map, $key);
    }

    @return $map;
}


//////////////////////////////////////////////////
//
// Placeholders
//
//////////////////////////////////////////////////

%clearfix {
    &:after {
        content: '';
        display: table;
        clear: both;
    }
}



//////////////////////////////////////////////////
//
// Mixins
//
//////////////////////////////////////////////////

@mixin clearfix($pseudo: after) {
    &:#{$pseudo} {
        content: '';
        display: table;
        clear: both;
    }
}

@mixin mq($value, $property: 'min-width', $media: 'screen') {
    @media #{$media} and ($property: $value) {
        @content;
    }
}



//////////////////////////////////////////////////
//
// Variables
//
//////////////////////////////////////////////////

$screen--small: 768px;
$screen--medium: 1024px;
$screen--large: 1280px;

$gutter--small: 16px;
$gutter--medium: 28.43px;
$gutter--large: 37.897px;

$base-font--family: 'jaf-bernino-sans', sans-serif;
$base-font--color: #000;
$base-font--size: 100%;
$base-font--weight: 400;
$base-font--style: normal;
$line-height: 1.35;

$site--width: 74.55rem;
$content--width: 68%;
$sidebar--width: 32%;
$footer--height: 122px;

$brand-color--primary: #ff6b6b;

$brand-color--action: $brand-color--primary