//////////////////////////////////////////////////
//
// Functions
//
//////////////////////////////////////////////////

@function map-deep-get($map, $keys...) {
    @each $key in $keys {
        $map: map-get($map, $key);
    }

    @return $map;
}


//////////////////////////////////////////////////
//
// Placeholders
//
//////////////////////////////////////////////////

%clearfix {
    &:after {
        content: '';
        display: table;
        clear: both;
    }
}



//////////////////////////////////////////////////
//
// Mixins
//
//////////////////////////////////////////////////

@mixin clearfix($pseudo: after) {
    &:#{$pseudo} {
        content: '';
        display: table;
        clear: both;
    }
}

@mixin mq($value, $property: 'min-width', $media: 'screen') {
    @media #{$media} and ($property: $value) {
        @content;
    }
}



//////////////////////////////////////////////////
//
// Variables
//
//////////////////////////////////////////////////

$screen--small: 768px;
$screen--medium: 1024px;
$screen--large: 1280px;

$site--width: 74.55rem;
$footer--height: 150px;

$brand-color--primary: #ff6b6b;

$brand-color--action: $brand-color--primary