<header class="site-header band">
   <div class="band__content band__content--medium band__content--center">
      <p class="site-header__hello">
         Hi, my name is
         <span class="site-header__logo"><a href="/">Daniel Reid</a></span>
      </p>
      <p class="site-header__about">I am a <strong>UX Designer</strong> currently living and working in Milwaukee, WI.</p>
      <p class="site-header__contact">Find me on <a href="https://twitter.com/dan_reid" target="_blank">Twitter</a>, <a href="http://codepen.io/dan_reid/" target="_blank">CodePen</a>, and <a href="https://github.com/danielcreid" target="_blank">Github</a>.</p>
   </div>
</header>
