<!DOCTYPE html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.name }}</title>
    <meta name="description" content="{{ site.description }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="theme-color" content="#ff6b6b">
    <meta name="msapplication-TileColor" content="#ff6b6b">

    <link href="http://www.danielcreid.com/feed.xml" rel="alternate" type="application/atom+xml">
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,300,700" rel="stylesheet" type="text/css">

    <style>
        {% include styles.css %}
    </style>
</head>
<body class="language-markup">
    {% include svg-sprite.html %}

    <div class="footer-push">
       {% include header.html %}

        <section class="band">
            <div class="band__content band__content--medium band__content--center">
                {{ content }}
            </div>
        </section>

        {% if page.comments %}
        <section class="band band--light">
            <div class="band__content band__content--medium band__content--center">
            {% include comments.html %}
            </div>
        </section>
        {% endif %}

        {% if page.recent-posts %}
        <aside class="recent-posts band">
            <div class="band__content band__content--medium band__content--center">
            {% include recent-posts.html %}
            </div>
        </aside>
        {% endif %}
    </div>

    {% include footer.html %}

    {% include analytics.html %}
    <script src="/dist/scripts.js"></script>
</body>
</html>
