<!DOCTYPE html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Daniel Reid - Web Designer / Front-end Developer</title>
    <meta name="description" content="Hi, my name is Daniel Reid. I am a Web Designer / Front-end Developer currently living and working in Milwaukee, WI.">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="http://www.danielcreid.com/feed.xml" rel="alternate" type="application/atom+xml">
    <link rel="stylesheet" href="/dist/styles.css">
    <script src="//use.typekit.net/tgy0rrw.js"></script>
    <script>try{Typekit.load();}catch(e){}</script>
</head>
<body class="language-markup">
    <div class="site-wrap footer-push">
       {% include header.html %}

        <div class="section-wrap sidebar-push">
            <div class="section-content">
                {{ content }}
            </div>
        </div>

        {% include recent-posts.html %}
    </div>


    {% include footer.html %}

    {% include analytics.html %}
    <script src="/dist/scripts.js"></script>
</body>
</html>
