@font-face {
    font-family: 'bebas_neueregular';
    src: url('assets/bebasneue-webfont.eot');
    src: url('assets/bebasneue-webfont.eot?#iefix') format('embedded-opentype'),
         url('assets/bebasneue-webfont.woff') format('woff'),
         url('assets/bebasneue-webfont.ttf') format('truetype'),
         url('assets/bebasneue-webfont.svg#bebas_neueregular') format('svg');
    font-weight: normal;
    font-style: normal;
}